src/main/mule/gitprojcheck.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e13982d0-2089-4bee-8b10-68dc618e90a5" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="gitprojcheckFlow" doc:id="ad80cbf4-55d2-4be7-ada6-4ca30db672e9" >
		<http:listener doc:name="Listener" doc:id="494b5870-c8dc-4fa4-bfdf-46e06ac84ca5" config-ref="HTTP_Listener_config" path="/gitTest"/>
		<set-payload value='#["Hello world"]' doc:name="Set Payload" doc:id="3095374e-85a5-4749-9a24-6b1284de4f22" />
	</flow>
</mule>
