newexp/src/main/mule/newexp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="54e93e17-c600-407e-bdc2-9f66039e3e5c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="newexpFlow" doc:id="ab1240ed-817c-40f9-bf62-d686fc9658b6" >
		<http:listener doc:name="Listener" doc:id="3ca190f4-0a79-4082-8a3c-ef4441f9ccf0" config-ref="HTTP_Listener_config" path="/batch"/>
		<ee:transform doc:name="Transform Message" doc:id="c1ca314c-e711-475e-a21d-8e972ff3fe58" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
["1","2","3","4",5,"6"]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="newexpBatch_Job" doc:id="192c39a7-f327-4fd9-b82a-42343384997b" schedulingStrategy="ROUND_ROBIN">
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="72c54e4d-948e-42a9-85f4-7a09b7c5ebcc" >
					<ee:transform doc:name="Transform Message" doc:id="1641e1e3-f680-4509-b497-ef4776abf0ef" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload ++ "b_1"]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<logger level="INFO" doc:name="Logger" doc:id="95c7e5dc-10e7-411d-9dbe-f5001a78539e" message='#["b_1" ++ payload as String]'/>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="c741400e-a216-4915-b959-dcbc12e841dd" size="2">
						<logger level="INFO" doc:name="Logger" doc:id="9c13b7b7-b16e-4270-8e74-df2d51524969" message='#[["agg1"] ++ payload]'/>
					</batch:aggregator>
				</batch:step>
				<batch:step name="Batch_Step1" doc:id="0f0919d6-df94-4013-858b-39f5eb3bc8f6" >
					<ee:transform doc:name="Transform Message" doc:id="fd51fe2d-c74f-4dfb-be38-1d03486dab25" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload as String ++ "b_2"]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<logger level="INFO" doc:name="Logger" doc:id="82ceefc4-fabf-4616-b885-a298acddbf07" message='#["b_2" ++ payload as String]'/>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="08f2899c-6c24-4fcf-9906-e6a72cdcf788" size="3">
						<logger level="INFO" doc:name="Logger" doc:id="15f4b212-2209-494d-8013-8e1edf50af27" message='#[["agg2"] ++ payload]'/>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="8e13bafa-54d6-4986-baa3-9020b0161b30" message="#[payload]"/>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
